-- Enable RLS on activity_logs table
ALTER TABLE activity_logs ENABLE ROW LEVEL SECURITY;

-- Allow users to insert their own activity logs
CREATE POLICY 'Users can insert their own activity logs' ON activity_logs
FOR INSERT WITH CHECK (auth.uid()::text = user_id);

-- Allow users to update their own activity logs
CREATE POLICY 'Users can update their own activity logs' ON activity_logs
FOR UPDATE USING (auth.uid()::text = user_id);

-- Allow users to select their own activity logs
CREATE POLICY 'Users can view their own activity logs' ON activity_logs
FOR SELECT USING (auth.uid()::text = user_id);
